<%- include("partials/header") %>
<div class ="box" id="heading">
    <h3>Application Name</h3>
    <h4><%=date()%></h4>
</div>
<div class="box">
    <p class="item" type="submit" onclick="location.href= '/list/show';" >Lists</p>
    <p class="item">Other</p>
</div>

<%- include("partials/footer") %>