<%- include("partials/header") %>
<div class="container passcode-container card">
    <form action ="/password" method="post">
        <div class="row">
            <div class=" col-12 form-group">
                <label for="passcode">New Password</label>
                <input type="text" class="form-control" id="passcode" name="passcode" >
              </div>
        </div>
        
          <input class="btn" type="submit" value="Submit">
    </form>
    
</div>
<%- include("partials/footer") %>